:root{
    --font_webeee: "SHELMAN";
    --font_itsback: "Freehand575 BT";
    --font_title: "Forte";
    --font_menu: "Mistral";
    --font_account: "Freehand521 BT";
    --font_article: "Brush Script MT";
    --font_text: "Gabriola";
    --font_bold: "JOAN";
    --font_error: "Chiller";
    --text_primary_color: black;
    --text_secondary_color: white;

    --ambeee: #FFAB40;
    --ambeee2: #B87711;
    --blueee: #091FEA;
    --blueee2: #1E1EB7;
    --red: #FF3737;
    --red2: #8F1111;
    --link: #13FF22;
    --green: #07987D;
    --green2: #036855;
    --grey: #D5D3D3;
    --grey2: #313131;
    --back_primary: white;
    --back_secondary: black;
}
body{
    margin: 0;
}
.dNone{display: none;}
a{
    text-decoration: none;
    color:var(--text_primary_color);
}
a:visited{
    color:var(--text_primary_color);
}



/*SCROLLBAR*/
::-webkit-scrollbar{
    background-color: var(--back_primary);
}
::-webkit-scrollbar-thumb{
    background-color: var(--ambeee);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--ambeee2);
}




/* COMPUTER */
@media screen and (min-width: 1024px) {
    .PC{display: block;}
    .TABLET{display: none;}
    .MOBILE{display: none;}



/* MENU */
    .menu{
        margin: 20px 20px 0;
        z-index: 4;
        display: flex;
        flex-direction: row-reverse;
        color: var(--text_primary_color);
        font-family: var(--font_menu);
    }
    .menu-icon-1{
        width: 60px;
        height: 60px;
        margin: 20px;
        cursor: pointer;
        border-radius: 50px;
    }
    .menu-icon-2{
        width: 40px;
        margin: 5px 15px;
        cursor: pointer;
    }
    .menu-container{
        width: 500px;
        margin: 25px 50px 0;
        display: flex;
        flex-direction: row;
    }
    .menu-tab{
        width: 200px;
        margin: 0 20px;
        font-size: 35px;
        text-align: center;
    }
    .menu-account{
        width: 90px;
        right: 0;
        margin: 0 1.2% 0 0;
        z-index: 4;
        position: absolute;
    }





/* HOME */
    .home-back{
        width: 96%;
        margin: 2% 0 0;
    }
    .home-title-sec{
        position: absolute;
        width: 60%;
        margin: -500px 20% 0;
    }
    .home-title{
        font-size: 300px;
        color: var(--blueee);
        font-family: var(--font_webeee);
        text-align: center;
    }
    .home-subtitle{
        width: 300px;
        margin: -130px 0 0 520px;

        font-size: 90px;
        font-family: var(--font_itsback);
        color: var(--red);
        text-shadow: 1px 1px 0px #8F1111;
        transform: rotate(345deg);

        animation-name: ItsBack;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes ItsBack {
        0% {font-size: 90px;}
        50% {font-size: 100px;}
        100% {font-size: 90px;}
    }
    .home-page{
        margin: -50px 10px 0;
        padding: 100px 50px;
        border-radius: 100px 100px 0 0;
        background-color: var(--ambeee);
    }
    .home-intro{
        width: 50%;
        margin: 5px 20%;
        padding: 20px 5%;
        border-radius: 25px;
        background-color: var(--back_primary);
    }
    .home-adv{
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
    }
    .home-frame{
        width: 300px;
        margin: 50px 0;
        padding: 20px;
        text-decoration: none;
        border-radius: 25px;
        background-color: var(--back_primary);
        box-shadow: 2px 2px 0 var(--back_secondary);
    }
    .home-frame-title{
        margin: -45px 0 0 0;
        font-size: 34px;
        text-align: center;
        font-family: var(--font_title);
        color: var(--text_primary_color);
        text-shadow: 1px 1px 0 var(--text_secondary_color);
    }
    .home-article{
        margin: 10px;
        font-size: 20px;
        font-style: italic;
        text-align: center;
        
    }
    .f1{margin: 50px 10% 50px 60%;}
    .f2{margin: 50px 60% 50px 10%;}
    .f3{margin: 50px 30% 50px 40%;}
    .version{
        position: fixed;
        margin: 0 2%;
        right: 0;
        bottom: 0;
        color: var(--grey);
        font-size: 22px;
        opacity: 40%;
        font-family: var(--font_title);
        text-shadow: 1px 1px var(--grey2);
    }

/* LOGIN */
    .login-back{
        width: 80%;
        margin: -50px 10% 0;
        z-index: 0;
    }
    .login-title{
        width: 40%;
        margin: -600px 30% 0px;
        z-index: 0;
        text-align: center;
        font-size: 120px;
        font-family: var(--font_title);
        color: var(--text_primary_color);
    }
    .login-page{
        width: 40%;
        bottom: 0;
        margin: 0 25%;
        position: absolute;
        padding: 10px 5%;
        border-radius: 100px 100px 0 0;
        background-color: var(--ambeee);
    }
    .login-label{
        width: 200px;
        margin: 20px 150px 0;
        font-size: 30px;
        text-align: center;
        font-family: var(--font_account);
    }
    .login-field{
        width: 280px;
        margin: 0 100px 5px;
        padding: 10px 10px;
        border-radius: 25px;
        text-align: center;
        box-shadow: 5px 5px 0px var(--back_secondary);
    
    }
    .login-error{
        margin: 0;
        font-size: 27px;
        text-align: center;
        color: var(--red);
        text-shadow: 1px 1px 0px var(--red2);
        font-family: var(--font_error);
    }
    .login-button{
        width: 300px;
        margin: 10px 100px;
        padding: 10px 0;
        text-align: center;
        font-size: 25px;
        font-family: var(--font_bold);
        color: var(--text_secondary_color);
        border-radius: 25px;
        background-color: var(--blueee);
    }

/* ACCOUNT */
    .account-back{
        width: 90%;
        margin: 0 5%;
    }
    .account-title-sec{
        width: 100%;
        top: 0;
        margin: 150px auto 0;
        position: absolute;
        align-items: center; /* centrati in verticale */
        display: flex;
        flex-direction: row;
    }
    .account-icon img{
        width: 60px;
        margin: -30px 0px 0 300px;
        left: 0;
        position: absolute;
    }
    .account-title{
        margin: 10px auto;
        font-size: 55px;
        color: var(--blueee);
        font-family: var(--font_title);
    }
    .account-img{
        right: 0;
        width: 120px;
        height: 120px;
        margin: 0 200px 0 0;
        border-radius: 25px;
        position: absolute;
    }
    .account-infos{
        margin: -220px 50px 50px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 100px;
        row-gap: 110px;
    }
    .account-detail{
        padding: 10px 20px;
        width: 500px;
        font-size: 25px;
        text-align: left;
        font-family: var(--font_account);
    }
    .account-others{
        margin: 50px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 100px;
        row-gap: 100px;
    }
    .account-field{
        width: 40%;
        margin: -50px 10px 0;
        padding: 2%;
        overflow-wrap: break-word;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 0px var(--back_secondary),
                -2px -2px 0px var(--back_secondary);
    }
    .account-err{
        font-size: 25px;
        margin: -70px 0 0;
        color: var(--red);
        text-align: center;
        text-shadow: 1px 1px 0px var(--red2);
        font-family: var(--font_error);
    }
    .account-submit{
        width: 50%;
        margin: 5% 25%;
        padding: 1% 10%;

        background-color: var(--blueee);
        color: var(--text_secondary_color);
        font-family: var(--font_bold);
        border-radius: 25px;
        font-size: 25px;
    }   
    .account-desc{
        text-align: center;
        font-family: var(--font_text);
        font-size: 25px;
        font-weight: bold;
        font-style: oblique;
    }
    .account-panel{
        width: 50%;
        margin: 50px 20%;
        padding: 20px 5%;
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
        border: 5px dashed var(--ambeee);
        border-radius: 50px;
    }
    .account-button{
        width: 80%;
        margin: 5% 10%;
        padding: 5px 5px;

        font-size: 30px;
        font-family: var(--font_bold);
        align-content: center;
        color: var(--text_secondary_color);
        cursor: pointer;
        background-color: var(--blueee);
        border-radius: 25px;
    }
    .account-button:visited{
        color: var(--text_secondary_color);
    }

/* ERROR PAGES */
    .error-back{
        width: 76%;
        margin: -50px 12% 0;
    }
    .error-title-sec{
        width: 60%;
        top: 0;
        margin: 200px 20% 0;
        position: absolute;
    }
    .error-sub{
        font-size: 30px;
        text-align: center;
        font-family: var(--font_error);
        color: var(--ambeee);
        text-shadow: 1px 1px var(--ambeee2);
    }
    .error-title{
        margin-top: 0%;
        font-size: 70px;
        text-align: center;
        font-family: var(--font_bold);
        color: var(--text_primary_color);
    }
    .error-page{
        width: 40%;
        margin: -350px 30% 0;
    }
    .error-text{
        font-size: 27px;
        text-align: center;
        font-family: var(--font_text);
    }
    .error-options{
        display: flex;
        flex-direction: row;
    }

/* EDITOR */
    .editor-title{
        font-family: var(--font_title);
        color: var(--ambeee);
        text-shadow: 1px 1px var(--ambeee2);
        font-size: 120px;
        text-align: center;
    }
    .editor-back{
        width: 96%;
        height: 670px;
        margin: -20% 2%;
        position: fixed;
        z-index: -1;
    }
    .editor-page{
        display: flex;
        flex-direction: column;
    }
    .editor-desc{
        margin-top: 50px;
        padding: 2%;
        resize: vertical;
        font-size: 50px;
        text-align: center;
        font-family: var(--font_article);
    }
    .editor-field{
        width: 50%;
        height: auto;
        margin: 0 20% 5%;
        padding: 2% 4%;
        resize: vertical;
        overflow-wrap: break-word;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 0px var(--back_secondary),
                -2px -2px 0px var(--back_secondary);
    }
    .editor-image{
        margin: -2% 30% 0;
        width: 20%;
        padding: 0 10%;
        font-family: var(--font_text);
    }
    .editor-err{
        font-size: 35px;
        color: var(--red);
        text-align: center;
        text-shadow: 1px 1px 0px var(--red2);
        font-family: var(--font_error);
        margin: -1% 0 0;
    }
    .editor-opz{
        display: flex;
        flex-direction: row;
        width: 20%;
        margin: -250px 20% 0;
    }
    .editor-icon{
        width: 60px;
        margin: 10px;

    }
    .editor-submit{
        width: 50%;
        margin: 5% 25%;
        padding: 1% 10%;

        background-color: var(--blueee);
        color: var(--text_secondary_color);
        font-family: var(--font_bold);
        border-radius: 25px;
        font-size: 25px;
    }
    .bar{
        width: 80%;
        max-width: 624px;
        min-width: 624px;
        margin: 2% auto;
        padding: 2%;
        font-size: 20px;
        color: var(--first);
        font-family: 'Itim';
        background-color: var(--second);
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        
    }

/* PRES */
    .pres-back{
        width: 96%;
        margin: 0 2% 0;
    }
    .pres-title{
        top: 0;
        width: 50%;
        margin: 420px 25%;
        position: absolute;
        font-size: 110px;
        text-align: center;
        color: var(--blueee);
        font-family: var(--font_title);
    }
    .pres-page{
        margin: -50px 10px 0;
        padding: 100px 5%;
        border-radius: 100px 100px 0 0;
        background-color: var(--ambeee);
    }
    .pres-intro{
        width: 80%;
        margin: 5px 5%;
        padding: 20px 5%;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        font-family: var(--font_text);
        border-radius: 25px;
        border: 2px dashed var(--back_secondary);
        background-color: var(--back_primary);
    }
    .pres-sections{
        width: 90%;
        margin: 50px 5% 0;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 5%;
    }
    .pres-frame{
        width: 90%;
        margin: 50px 0;
        padding: 5%;
        text-decoration: none;
        border-radius: 25px;
        background-color: var(--back_primary);
        box-shadow: 2px 2px 0 var(--back_secondary);
    }
    .pres-section-title{
        margin: 10px;
        font-size: 30px;
        font-style: italic;
        text-align: center;
        font-family: var(--font_bold);
    }

/* PRESNEWS */
    .news-back{
        width: 98%;
        margin: -60px 1% 0;
        border-radius: 50px;
        position: absolute;
        z-index: -1;
        background-color: var(--back_primary);
    }
    .news-title{
        top: 0;
        right: 0;
        width: 50%;
        margin: 200px 100px 0;
        position: absolute;
        font-size: 180px;
        text-align: center;
        color: var(--green);
        font-family: var(--font_title);
        text-shadow: 2px 2px  0 var(--green2);
    }
    .news-page{
        bottom: 0;
        width: 96%;
        margin: 50px 2% 0;
        padding: 50px 1% 0;
        position: absolute;
        display: flex;
        flex-direction: column;
    }
    .pn-imgs{
        width: 10%;
        bottom: 0;
        position: fixed;
        z-index: -2;/*
        filter: drop-shadow(2px 2px 2px var(--back_secondary));
        */
    }
    #pn-img1{
        right: 20px;
        margin: 0 0 30%;
    }
    #pn-img2{
        margin: 0 0 15%;
    }
    #pn-img3{
        width: 17%;
        margin: 0 0 0;
        right: 0;
    }
    .news-section{
        width: 60%;
        margin: 50px 19% 0;
        padding: 50px 0 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        border-radius: 100px 100px 0 0;
        background-color: var(--ambeee);
    }
    .news-frame{
        width: 80%;
        margin: 50px auto;
        padding: 5%;
        text-decoration: none;
        border-radius: 25px;
        background-color: var(--back_primary);
        box-shadow: 2px 2px 0 var(--back_secondary);
    }
    .news-frame-title{
        margin: 10px;
        font-size: 30px;
        font-style: italic;
        text-align: center;
        font-family: var(--font_bold);
    }
    .news-frame-date{
        margin: 10px;
        font-size: 20px;
        font-style: italic;
        font-family: var(--font_article);
    }
    .news-frame-desc{
        margin: 10px;
        font-size: 30px;
        font-style: italic;
        font-family: var(--font_text);
    }
    .news-options{
        width: 80%;
        margin: 10px 10% 20px;
        display: grid;
        column-gap: 10px;
        grid-template-columns: auto auto auto;
    }
    .news-button1{
        width: 90%;
        margin: 5% 0;
        padding: 5%;
        font-size: 20px;
        text-align: center;
        font-family: var(--font_bold);
        color: var(--text_secondary_color);
        border-radius: 25px;
        background-color: var(--blueee);
    }
    .news-button1:visited{
        color: var(--text_secondary_color);
    }
    .news-button2{
        width: 90%;
        margin: 5% auto;
        padding: 5%;
        font-size: 20px;
        text-align: center;
        font-family: var(--font_bold);
        border-radius: 25px;
        background-color: var(--link);
    }

/* ARTICLE */
    .article-back{
        width: 96%;
        margin: -50px 2% 0;
        z-index: -1;
    }
    .article-title{
        top: 0;
        width: 70%;
        margin: 250px 15% 0;
        z-index: 1;
        position: absolute;
        font-size: 50px;
        text-align: center;
        color: var(--text_primary_color);
        font-family: var(--font_title);
    }
    .article-desc{
        top: 0;
        width: 50%;
        margin: 500px 25% 0;
        z-index: 1;
        position: absolute;
        font-size: 30px;
        font-style: italic;
        text-align: center;
        color: var(--text_primary_color);
        font-family: var(--font_article);
    }
    .article-bar{
        width: 50%;
        margin: -70px 20% 50px;
        padding: 15px 5%;
        align-items: center;
        font-size: 25px;
        font-family: var(--font_menu);
        display: flex;
        flex-direction: row;
    }
    .article-info{
        margin: 0 10px;
    }
    .article-opz{
        right: 25%;
        font-size: 30px;
        position: absolute;
        display: flex;
        flex-direction: row;
    }
    .article-button{
        margin: 0 10px;
        padding: 2px;
        color: var(--blueee);
        border-radius: 10px;
        border: 2px solid var(--blueee);
    }
    .article-button:visited{
        color: var(--blueee);
    }
    .article-button1{
        margin: 0 10px;
        padding: 2px;
        color: var(--link);
        border-radius: 10px;
        border: 2px solid var(--link);
    }
    .article-button1:visited{
        color: var(--link);
    }
    .article-button2{
        margin: 0 10px;
        padding: 2px;
        cursor: pointer;
        font-size: 30px;
        color: var(--red);
        font-family: var(--font_menu);
        border-radius: 10px;
        border: 2px solid var(--red);
        background-color: var(--back_primary);
    }
    .article-button2:visited{
        color: var(--red);
    }
    .article-button3{
        width: 20%;
        margin: 0 40% 50px;
        padding: 2px 0;
        font-size: 40px;
        text-align: center;
        color: var(--blueee);
        font-family: var(--font_bold);
        border-radius: 10px;
        border: 2px solid var(--blueee);
        background-color: var(--back_primary);
    }
    .article-button3:visited{
        color: var(--blueee);
    }
    .article-page{
        width: 60%;
        margin: 40px 15%;
        padding: 2px 5%;
    }
    .article-container{
        display: flex;
        flex-direction: row;
    }
    .article-body{
        margin: 10px 0 0;
        padding: 2%;
        font-size: 30px;
        font-family: var(--font_text);
        text-align: justify;
    }
    .article-body2{
        width: auto;
        min-width: 40%;
        padding: 0 2%;
        margin: 50px 0;
        font-size: 25px;
        font-family: var(--font_text);
        text-align: left;
    }
    .article-voice{
        margin: 10px 0 0;
        padding: 2%;
        font-size: 25px;
        font-style: italic;
        font-family: var(--font_text);
        text-align: center;
    }
    .article-img{
        width: 350px;
        height: 350px;
        margin: 100px 10px;
        border-radius: 25px;
    }
    .link {
        color: var(--grey2);
        font-weight: bold;
        cursor: pointer;
        transition: .5s;
    }
    .link:hover {
        color: var(--ambeee);
    }

    .toedit-container{
        width: 60%;
        margin: 50px 20%;
        display: flex;
        flex-direction: row;
    }
    .toedit-body{
        width: 50%;
        padding: 2% 4%;
        margin: 100px 20% 50px;
        font-size: 25px;
        font-family: var(--font_text);
        text-align: justify;
        resize: vertical;
    }
    .toedit-body2{
        width: auto;
        min-width: 400px;
        min-height: 250px;
        padding: 2%;
        margin: 50px 0;
        font-size: 25px;
        font-family: var(--font_text);
        text-align: left;
        resize: vertical;
    }
    .toedit-voice{
        width: 50%;
        padding: 2% 4%;
        margin: 100px 20% 50px;
        font-size: 20px;
        font-style: italic;
        font-family: var(--font_text);
        text-align: center;
        resize: vertical;
    }
    .toedit-img{
        width: 250px;
        height: 250px;
        margin: 50px 20%;
        padding: 10px 8%;
        resize: none;
        border-radius: 25px;
    }
    .toedit{
        border-radius: 25px;
        border: 3px dashed var(--grey);
    }

    .article-adv{
        width: 50%;
        margin: 50px 25% 0;
        padding: 50px 0%;
        border-radius: 25px 25px 0 0;
        border: 2px dashed var(--ambeee);
    }
    .article-adv-title{
        width: 60%;
        margin: -70px 20% 20px;
        font-size: 25px;
        text-align: center;
        font-family: var(--font_bold);
        border-radius: 20px;
        border: 1px solid var(--ambeee);
        background-color: var(--back_primary);
    }
    .article-adv-desc{
        width: 80%;
        margin: 10px 10%;
        font-size: 30px;
        text-align: center;
        font-family: var(--font_article);
    }
    .article-mark{
        width: 20%;
        margin: 0 40% 0px;
        bottom: 0;
        opacity: 60%;
        position: fixed;
        font-size: 40px;
        text-align: center;
        color: var(--grey);
        font-family: var(--font_webeee);
    }
}

/* TABLET */
@media screen and (min-width: 768px) and  (max-width: 1023px){
    
    .icon{
        transform: rotate(45deg)
    }
    
}

/* MOBILE */
@media screen and (max-width: 767px) {
    
    .PC{display: none;}
    .TABLET{display: none;}
    .MOBILE{display: block;}

    :root{
        --font_webeee: "Oleo Script Swash Caps";
        --font_itsback: "Covered By Your Grace";
        --font_title: "Caveat";
        --font_menu: "Caveat";
        --font_account: "Covered By Your Grace";
        --font_article: "Covered By Your Grace";
        --font_text: "Indie Flower";
        --font_bold: "Caveat";
        --font_error: "Indie Flower";
        --text_primary_color: black;
        --text_secondary_color: white;

    }



    /* MENU */
    .menu{
        width: 96%;
        margin: 0% 2% 5px;
        bottom: 0;
        z-index: 4;
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        border-radius: 25px;
        background-color: var(--blueee);
    }
    .menu-icon-1{
        width: 50px;
        margin: 25px;
        border-radius: 25px;
    }
    .menu-icon-2{
        width: 40px;
        margin: 5px 10px;
    }
    .menu-container{
        width: 280px;
        margin: 35px 2px 0;
        display: flex;
        flex-direction: row;
    }
    .menu-tab{
        width: 90px;
        margin: 0;
        font-size: 23px;
        text-align: center;
        color: white;
        font-family: var(--font_menu);
        text-decoration: none;
    }
    .menu-tab:visited{
        color: white;
    }
    .menu-account{
        width: 60px;
        margin: 0 26px 100px 0;
        bottom: 0;
        right: 0;
        z-index: 4;
        position: fixed;
        border-radius: 25px;
        background-color: var(--back_primary);
        border: 1px solid var(--grey);
    }

    /* HOME */
    .home-back{
        width: 100%;
        margin: 0 0 0;
        z-index: 0;
    }
    .home-title-sec{
        position: absolute;
        width: 60%;
        margin: -190px 16% 0;
    }
    .home-title{
        font-size: 70px;
        color: var(--blueee);
        font-family: var(--font_webeee);
        text-align: center;
    }
    .home-subtitle{
        width: 100px;
        margin: -50px 0 0 170px;

        font-family: var(--font_itsback);
        color: var(--red);
        text-shadow: 1px 1px 0px #8F1111;
        transform: rotate(345deg);

        animation-name: ItsBack;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes ItsBack {
        0% {font-size: 25px;}
        50% {font-size: 30px;}
        100% {font-size: 25px;}
    }
    .home-page{
        margin: -23px 5px 0;
        padding: 40px 5px 150px;
        border-radius: 50px 50px 25px 25px;
        background-color: var(--ambeee);
        z-index: 1;
    }
    .home-intro{
        width: 70%;
        margin: 5px auto;
        padding: 20px 10%;
        text-align: center;
        font-family: var(--font_text);
        border-radius: 20px;
        background-color: var(--back_primary);
    }
    .home-adv{
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
    }
    .home-frame{
        width: 200px;
        margin: 20px auto;
        padding: 20px;
        color: var(--text_primary_color);
        text-decoration: none;
        border-radius: 20px;
        background-color: var(--back_primary);
        box-shadow: 2px 2px 0 var(--back_secondary);
    }
    .home-frame-title{
        margin: -40px 0 0 0;
        font-size: 25px;
        text-align: center;
        font-family: var(--font_title);
        font-weight: bold;
        color: var(--text_primary_color);
        text-shadow: 1px 1px 0 var(--text_secondary_color);
    }
    .home-article{
        margin: 20px 0 0 0;
        font-size: 20px;
        font-style: italic;
        text-align: center;
        font-family: var(--font_text);
    }
    .version{
        position: fixed;
        margin: 0 5px;
        right: 0;
        top: 0;
        color: var(--grey2);
        font-size: 12px;
        opacity: 40%;
        font-family: 'Covered By Your Grace';
    }

/* LOGIN */
    .login-back{
        width: 90%;
        margin: 5%;
        z-index: 0;
    }
    .login-title{
        width: 40%;
        margin: -150px 30% 0px;
        z-index: 0;
        text-align: center;
        font-size: 80px;
        font-family: "Covered By Your Grace";
        font-weight: bold;
        color: var(--text_primary_color);
    }
    .login-page{
        width: 80%;
        bottom: 0;
        margin: 50px 5% 10px;
        padding: 10px 5% 100px;
        position: absolute;
        border-radius: 70px 70px 0 0;
        background-color: var(--ambeee);
    }
    .login-label{
        width: 50%;
        margin: 5px 25% 0;
        font-size: 30px;
        text-align: center;
        font-family: "Caveat";
        font-weight: bold;
    }
    .login-field{
        width: 70%;
        margin: -10px 10% 5px;
        padding: 10px 5%;
        border-radius: 25px;
        text-align: center;
        box-shadow: 5px 5px 0px var(--back_secondary);
    
    }
    .login-error{
        margin: 0;
        font-size: 17px;
        text-align: center;
        color: var(--red);
        text-shadow: 1px 1px 0px var(--red2);
        font-family: 'Architects Daughter', cursive;
    }
    .login-button{
        width: 60%;
        margin: 15px 20%;
        padding: 5px 0;
        text-align: center;
        font-size: 25px;
        font-family: "Covered By Your Grace";
        color: var(--text_secondary_color);
        border-radius: 25px;
        background-color: var(--blueee);
    }

/* ACCOUNT */
    .account-back{
        width: 90%;
        margin: 10px 5%;
    }
    .account-title-sec{
        width: 100%;
        top: 0;
        margin: 70px auto 0;
        position: absolute;
        align-items: center; /* centrati in verticale */
        display: flex;
        flex-direction: row;
    }
    .account-title{
        margin: 10px auto;
        font-size: 25px;
        color: var(--blueee);
        font-family: "Covered By Your Grace";
    }
    .account-img{
        width: 40%;
        margin: 0px 30%;
        border-radius: 25px;
    }
    .account-infos{
        margin: 170px 20% 50px;
        top: 0;
        position: absolute;
        display: grid;
        grid-template-columns: auto;
        row-gap: 60px;
    }
    .account-detail{
        width: 100%;
        padding: 10px 0;
        font-size: 20px;
        text-align: center;
        font-family: "Caveat";
    }
    .account-others{
        margin: 50px 20px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 0px;
    }
    .account-field{
        width: 40%;
        margin: -50px 10px 0;
        padding: 2%;
        overflow-wrap: break-word;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 0px var(--back_secondary),
                -2px -2px 0px var(--back_secondary);
    }
    .account-err{
        font-size: 25px;
        margin: -70px 0 0;
        color: var(--red);
        text-align: center;
        text-shadow: 1px 1px 0px var(--red2);
        font-family: var(--font_error);
    }
    .account-submit{
        width: 50%;
        margin: 5% 25%;
        padding: 1% 10%;

        background-color: var(--blueee);
        color: var(--text_secondary_color);
        font-family: var(--font_bold);
        border-radius: 25px;
        font-size: 25px;
    }
    .account-desc{
        width: 60%;
        margin: 50px auto 100px;
        text-align: center;
        font-family: "Architects Daughter";
        font-size: 15px;
        font-weight: bold;
        font-style: oblique;
    }
    .account-panel{
        width: 80%;
        margin: 20px 10% 150px;
        padding: 10px 0;
        text-align: center;
        display: grid;
        grid-template-columns: auto auto;
        border: 5px dashed var(--ambeee);
        border-radius: 50px;
    }
    .account-button{
        width: 60%;
        margin: 5% 15%;
        padding: 5px 5%;

        font-size: 20px;
        font-family: var(--font_bold);
        text-decoration: none;
        align-content: center;
        color: var(--text_secondary_color);
        cursor: pointer;
        background-color: var(--blueee);
        border-radius: 25px;
    }
    .account-button:visited{
        color: var(--text_secondary_color);
    }
    .editor .account-title{
        font-size: 50px;
        font-weight: bold;
    }
    .editor .account-desc{
        width: 90%;
        margin: 100px 4% 0;
        padding: 1%;
        font-size: 25px;
        border: 3px dashed var(--ambeee);
        border-radius: 25px;
    }

/* ERROR PAGES */
    .error-back{
        width: 76%;
        height: 300px;
        margin: 50px 12% 0;
    }
    .error-title-sec{
        width: 96%;
        top: 0;
        margin: 120px 2% 0;
        position: absolute;
    }
    .error-sub{
        width: 60%;
        margin: 0 20%;
        font-size: 30px;
        text-decoration: none;
        text-align: center;
        font-family: var(--font_error);
        color: var(--ambeee);
        text-shadow: 1px 1px var(--ambeee2);
    }
    .error-title{
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        font-family: var(--font_bold);
        color: var(--text_primary_color);
    }
    .error-page{
        width: 90%;
        margin: 0px 5% 0;
    }
    .error-text{
        font-size: 18px;
        text-align: center;
        font-family: var(--font_text);
    }
    .error-options{
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: var(--font_text);
        font-size: 15px;
    }
    .error-sub:visited{
        text-decoration: none;
    }


/* PRES */
    .account-back{
        width: 96%;
        margin: 0 2% 0;
    }
    .pres-title{
        top: 0;
        width: 50%;
        margin: 90px 25% 0;
        position: absolute;
        font-size: 35px;
        text-align: center;
        color: var(--blueee);
        font-family: "Covered By Your Grace";
    }
    .pres-page{
        margin: -50px 10px 0;
        padding: 100px 5%;
        border-radius: 50px 50px 50px 50px;
        background-color: var(--ambeee);
    }
    .pres-intro{
        width: 80%;
        margin: 5px 5%;
        padding: 20px 5%;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        font-family: var(--font_text);
        border-radius: 25px;
        border: 2px dashed var(--back_secondary);
        background-color: var(--back_primary);
    }
    .pres-sections{
        width: 90%;
        margin: 50px 5% 0;
        display: flex;
        flex-direction: column;
    }
    .pres-frame{
        width: 70%;
        margin: 10px 10%;
        padding: 5%;
        text-decoration: none;
        border-radius: 25px;
        background-color: var(--back_primary);
        box-shadow: 2px 2px 0 var(--back_secondary);
    }
    .pres-section-title{
        margin: 10px;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        font-family: "Caveat";
        color: var(--text_primary_color);
    }
    .pres-section-frame:visited{
        color: var(--text_primary_color);
    }

/* PRESNEWS */
    .news-back{
        width: 98%;
        z-index: -1;
        margin: 50px 1% 0;
        border-radius: 50px;
    }
    .news-title{
        top: 0;
        width: 50%;
        margin: 120px 25% 0;
        position: absolute;
        font-size: 80px;
        text-align: center;
        color: var(--green);
        font-family: "Covered By Your Grace";
        text-shadow: 2px 2px  0 var(--green2);
    }
    .news-page{
        margin: 0px 0 0;
        padding: 50px 0 0;
        display: flex;
        flex-direction: column;
    }
    .news-section{
        width: 96%;
        margin: 50px 2% 0;
        padding: 0 0 100px;
        position: absolute;
        display: flex;
        flex-direction: column;
        border-radius: 50px 50px 0 0;
        background-color: var(--ambeee);
    }
    .news-frame{
        width: 80%;
        margin: 50px auto;
        padding: 5%;
        text-decoration: none;
        color: var(--text_primary_color);
        border-radius: 25px;
        background-color: var(--back_primary);
        box-shadow: 2px 2px 0 var(--back_secondary);
    }
    .news-frame-title{
        margin: 10px;
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        font-family: "Caveat";
    }
    .news-frame-date{
        margin: 10px;
        font-size: 12px;
        font-style: italic;
        font-family: var(--font_article);
    }
    .news-frame-desc{
        margin: 10px;
        font-size: 18px;
        font-family: "Indie Flower";
    }
    .news-options{
        width: 80%;
        margin: 10px 10% 20px;
        display: grid;
        column-gap: 10px;
        grid-template-columns: auto auto auto;
    }
    .news-button1{
        width: 90%;
        margin: 5% 0;
        padding: 5%;
        font-size: 20px;
        text-align: center;
        font-family: var(--font_bold);
        color: var(--text_secondary_color);
        border-radius: 25px;
        background-color: var(--blueee);
    }
    .news-button1:visited{
        color: var(--text_secondary_color);
    }
    .news-button2{
        width: 90%;
        margin: 5% auto;
        padding: 5%;
        font-size: 20px;
        text-align: center;
        font-family: var(--font_bold);
        border-radius: 25px;
        background-color: var(--link);
    }
    .news-button2:visited{
        color: var(--text_primary_color);
    }

/* ARTICLE */
    .article-back{
        width: 96%;
        margin: 10px 2% 0;
        z-index: -1;
    }
    .article-title{
        top: 0;
        width: 70%;
        margin: 70px 15% 0;
        z-index: 1;
        position: absolute;
        font-size: 30px;
        text-align: center;
        color: var(--text_primary_color);
        font-family: var(--font_title);
    }
    .article-desc{
        top: 0;
        width: 90%;
        margin: 240px 5% 0;
        z-index: 1;
        position: absolute;
        font-size: 20px;
        font-style: italic;
        text-align: center;
        color: var(--text_primary_color);
        font-family: var(--font_article);
    }
    .article-bar{
        width: 90%;
        margin: 150px 4% 50px;
        padding: 15px 1%;
        align-items: center;
        font-size: 20px;
        font-family: var(--font_menu);
        display: flex;
        flex-direction: column;
    }
    .article-info{
        margin: 20px;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .article-opz{
        margin-top: 70px;
        font-size: 30px;
        position: absolute;
        display: flex;
        flex-direction: row;
    }
    .article-button{
        margin: 0 10px;
        padding: 2px;
        color: var(--blueee);
        border-radius: 10px;
        border: 2px solid var(--blueee);
    }
    .article-button:visited{
        color: var(--blueee);
    }
    .article-button1{
        margin: 0 10px;
        padding: 2px;
        color: var(--link);
        border-radius: 10px;
        border: 2px solid var(--link);
    }
    .article-button1:visited{
        color: var(--link);
    }
    .article-button2{
        margin: 0 10px;
        padding: 2px;
        cursor: pointer;
        font-size: 30px;
        color: var(--red);
        font-family: var(--font_menu);
        border-radius: 10px;
        border: 2px solid var(--red);
        background-color: var(--back_primary);
    }
    .article-button2:visited{
        color: var(--red);
    }
    .article-button3{
        width: 80%;
        margin: 0 10% 150px;
        padding: 2px 0;
        font-size: 40px;
        text-align: center;
        color: var(--blueee);
        font-family: var(--font_bold);
        border-radius: 10px;
        border: 2px solid var(--blueee);
        background-color: var(--back_primary);
    }
    .article-button3:visited{
        color: var(--blueee);
    }
    .article-page{
        width: 90%;
        margin: 40px 5% 0;
        padding: 2px 0%;
    }
    .article-container{
        display: flex;
        flex-direction: column;
    }
    .article-body{
        margin: 10px 0 0;
        padding: 2%;
        font-size: 20px;
        font-family: var(--font_text);
        text-align: justify;
    }
    .article-body2{
        width: auto;
        min-width: 40%;
        padding: 0 2%;
        margin: 50px 0;
        font-size: 18px;
        font-family: var(--font_text);
        text-align: left;
    }
    .article-voice{
        margin: 10px 0 0;
        padding: 2%;
        font-size: 18px;
        font-style: italic;
        font-family: var(--font_text);
        text-align: center;
    }
    .article-img{
        width: 90%;
        height: 90%;
        margin: 5%;
        border-radius: 25px;
    }
    .link {
        color: var(--grey2);
        font-weight: bold;
        cursor: pointer;
        transition: .5s;
    }
    .link:hover {
        color: var(--ambeee);
    }

    .toedit-label{
        width: 100%;
        margin: 100px 0 -100px;
        font-size: 25px;
        text-align: center;
        font-family: var(--font_article);
    }
    .toedit-desc{
        width: 80%;
        padding: 2% 5%;
        margin: 100px 5% 20px;
        font-size: 25px;
        font-family: var(--font_text);
        text-align: center;
        resize: vertical;
    }
    .toedit-container{
        width: 90%;
        margin: 10px 5%;
        display: flex;
        flex-direction: column;
    }
    .toedit-body{
        width: 90%;
        padding: 2% 1%;
        margin: 100px 4% 50px;
        font-size: 25px;
        font-family: var(--font_text);
        text-align: justify;
        resize: vertical;
    }
    .toedit-body2{
        width: 90%;
        padding: 2% 1%;
        margin: 20px 4% 15px;
        font-size: 25px;
        font-family: var(--font_text);
        text-align: justify;
        resize: vertical;
    }
    .toedit-voice{
        width: 90%;
        padding: 2% 1%;
        margin: 100px 4% 50px;
        font-size: 25px;
        font-style: italic;
        font-family: var(--font_text);
        text-align: justify;
        resize: vertical;
    }
    .toedit-img{
        width: 60%;
        height: 40px;
        margin: 20px 15%;
        padding: 25px 5%;
        resize: none;
        border-radius: 25px;
    }
    .toedit{
        border-radius: 25px;
        border: 3px dashed var(--grey);
    }

    .article-adv{
        width: 90%;
        margin: 20px 5% 0;
        padding: 50px 0% 100px;
        border-radius: 25px 25px 0 0;
        border: 2px dashed var(--ambeee);
    }
    .article-adv-title{
        width: 80%;
        margin: -60px 10% 10px;
        font-size: 18px;
        text-align: center;
        font-family: var(--font_bold);
        border-radius: 20px;
        border: 1px solid var(--ambeee);
        background-color: var(--back_primary);
    }
    .article-adv-desc{
        width: 90%;
        margin: 10px 5% 20px;
        font-size: 20px;
        text-align: center;
        font-family: var(--font_article);
    }
    .article-mark{
        width: 20%;
        margin: 0 40% 0px;
        bottom: 0;
        opacity: 60%;
        position: fixed;
        font-size: 40px;
        text-align: center;
        color: var(--grey);
        font-family: var(--font_webeee);
    }
}