:root{
    --font_webeee: "SHELMAN";
    --font_back: "Freehand575 BT";
    --font_title: "Forte";
    --font_menu: "Mistral";
    --font_error: "Chiller";
    --font_desc1: "Freehand521 BT";
    --font_desc2: "Brush Script MT";
    --font_text: "Gabriola";
    --font_bold: "JOAN";
    --text_primary_color: black;
    --text_secondary_color: white;

    --ambeee: #FFAB40;
    --ambeee2: #B87711;
    --blueee: #091FEA;
    --blueee2: #1E1EB7;
    --red: #FF3737;
    --red2: #8F1111;
    --grey: #D5D3D3;
    --grey2: #313131;
    --back_primary: white;
    --back_secondary: black;
}
body{
    margin: 0;
}

/* COMPUTER */
@media screen and (min-width: 1024px) {
    .PC{display: block;}
    .TABLET{display: none;}
    .MOBILE{display: none;}



    a{
        text-decoration: none;
        color: var(--text_primary_color);
    }
    a:visited{
        color: var(--text_primary_color);
    }
    
    
    /* Menu */
    /*
    .menu{
        margin: 2% 0 0 0;
        font-family: var(--font_menu);
        font-size: 35px;
        color: var(--text_primary_color);
        z-index: 4;
    }*//*
    .icon-main{
        width: 50%;
        margin: 10% 20%;
    }*//*
    .icon-sec{
        width: 40%;
        margin: 10% 25%;
    }*//*
    #Tabs{
        width: 41%;
        margin: 1% 2%;
    }*/
    .tab{
        width: 30%;
        margin: 0% 2%;
        padding: 2%;
        text-align: center;
        z-index: 4;
    }
    .account-menu{
        position: absolute;
        width: 8%;
        margin: 0 0 0 91%;
    }





    /* Page & Back */
    .background{
        width: 96%;
        margin-top: 2%;
    }


    /* Title */

    /*
    .title-container{
        position: absolute;
        width: 60%;
        margin: -40% 20%;
    }*//*
    .title-main{
        font-family: var(--font_webeee);
        color: var(--blueee);
        font-size: 300px;
        text-align: center;
    }*/

    .title-second{
        font-family: var(--font_title);
        color: var(--text_primary_color);
        font-size: 120px;
        text-align: center;
        margin-top: -10%;
    }
    .title-error{
        font-family: var(--font_bold);
        color: var(--text_primary_color);
        font-size: 70px;
        text-align: center;
        margin-top: 0%;
    }
    /*
    .moving-subtitle{
        font-size: 90px;
        font-family: var(--font_back);
        color: var(--red);
        text-shadow: 1px 1px 0px #8F1111;
        width: 30%;
        margin: -15% 0 0 65%;
        transform: rotate(345deg);
        animation-name: ItsBack;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }*//*
    @keyframes ItsBack {
        0% {font-size: 90px;}
        50% {font-size: 100px;}
        100% {font-size: 90px;}
    }*/



    /*
    .page-section{
        margin: -4% 1%;
        border-radius: 100px 100px 0 0;
        background-color: var(--ambeee);
        padding: 10% 5%;
    }*//*
    .desc-frame{
        margin: 1%;
        padding: 2%;
        border-radius: 25px;
        background-color: var(--back_primary);
    }*/
    .error-page{
        width: 40%;
        margin: -25% 30% 1%;
    }
    .frame{
        width: 30%;
        margin: 1%;
        padding: 2%;
        border-radius: 25px;
        background-color: var(--back_primary);
        box-shadow: 2px 2px 0 var(--back_secondary);
        text-decoration: none;
    }
    .f1{margin: 8% 10% 5% 60%;}
    .f2{margin: 5% 60% 5% 10%;}
    .f3{margin: 5% 30% 5% 40%;}

    .frame-type{
        margin-top: -15%;
        text-align: center;
        font-size: 34px;
        font-family: var(--font_title);
        color: var(--text_primary_color);
        text-shadow: 1px 1px 0 var(--text_secondary_color);
    }
    .frame-title{
        font-size: 30px;
        font-family: var(--font_text);
        text-decoration: none;
        color: var(--text_primary_color);
    }
    .frame-title:visited{
        color: var(--text_primary_color);
    }
    .login-section{
        width: 40%;
        margin: -27% 25%;
        border-radius: 100px 100px 0 0;
        background-color: var(--ambeee);
        padding: 1% 5%;
    }
    .text{
        font-family: var(--font_text);
        font-size: 25px;
        text-align: center;
    }
    .label-1{
        text-align: center;
        font-size: 30px;
        font-family: var(--font_desc1);
        margin: 5% 2% 0 2%;
    }
    .field{
        width: 70%;
        margin: 0 10% 5% 10%;
        padding: 2% 5%;
        border-radius: 25px;
        text-align: center;
        box-shadow: 5px 5px 0px var(--back_secondary);
    }
    .error{
        font-size: 30px;
        color: var(--red);
        text-align: center;
        text-shadow: 1px 1px 0px var(--red2);
        font-family: var(--font_error);
        z-index: 3;
    }
    .btn-blue{
        background-color: var(--blueee);
        color: var(--text_secondary_color);
        font-family: var(--font_bold);
        border-radius: 25px;
        font-size: 25px;
        padding: 1% 15%;
        width: 40%;
        margin: 0 20%;
    }


    


    .w80{
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }
    .w40{
        width: 40%;
    }
    .m-5{
        margin-top: -5%;
    }
    .m-10{
        margin-top: -10%;
    }
    .m-35{
        margin-top: -35%;
    }
    
    .t-center{
        text-align: center;
    }
    .align-r{
        margin-left: 7%;
    }
    .align-l{
        margin-right: 80%;
    }
    
    

    .c-webeee{
        color: var(--ambeee);
        text-shadow: 1px 1px var(--ambeee2);
    }

    .table-x{
        display: flex;
        flex-direction: row;
    }
    .table-y{
        display: flex;
        flex-direction: column;
    }
    .table-xr{
        display: flex;
        flex-direction: row-reverse;
    }
    .table-yr{
        display: flex;
        flex-direction: column-reverse;
    }






/* MENU */
    .menu{
        margin: 20px 20px 0;
        z-index: 4;
        display: flex;
        flex-direction: row-reverse;
        color: var(--text_primary_color);
        font-family: var(--font_menu);
    }
    .menu-icon-1{
        width: 60px;
        margin: 20px;
    }
    .menu-icon-2{
        width: 40px;
        margin: 5px 15px;
    }
    .menu-container{
        width: 500px;
        margin: 25px 50px 0;
        display: flex;
        flex-direction: row;
    }
    .menu-tab{
        width: 200px;
        margin: 0 20px;
        font-size: 35px;
        text-align: center;
    }
    .menu-account{
        width: 90px;
        margin: 0 0 0 1180px;
        position: absolute;
    }





/* HOME */
    .home-back{
        width: 96%;
        margin: 2% 0 0;
    }
    .home-title-sec{
        position: absolute;
        width: 60%;
        margin: -500px 20% 0;
    }
    .home-title{
        font-size: 300px;
        color: var(--blueee);
        font-family: var(--font_webeee);
        text-align: center;
    }
    .home-subtitle{
        width: 300px;
        margin: -130px 0 0 520px;

        font-size: 90px;
        font-family: var(--font_back);
        color: var(--red);
        text-shadow: 1px 1px 0px #8F1111;
        transform: rotate(345deg);

        animation-name: ItsBack;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes ItsBack {
        0% {font-size: 90px;}
        50% {font-size: 100px;}
        100% {font-size: 90px;}
    }
    .home-page{
        margin: -50px 10px 0;
        padding: 100px 50px;
        border-radius: 100px 100px 0 0;
        background-color: var(--ambeee);
    }
    .home-intro{
        width: 50%;
        margin: 5px 20%;
        padding: 20px 5%;
        border-radius: 25px;
        background-color: var(--back_primary);
    }
    .home-adv{
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
    }
    .home-frame{
        width: 300px;
        margin: 50px 0;
        padding: 20px;
        text-decoration: none;
        border-radius: 25px;
        background-color: var(--back_primary);
        box-shadow: 2px 2px 0 var(--back_secondary);
    }
    .home-frame-title{
        margin: -45px 0 0 0;
        font-size: 34px;
        text-align: center;
        font-family: var(--font_title);
        color: var(--text_primary_color);
        text-shadow: 1px 1px 0 var(--text_secondary_color);
    }
    .home-article{
        margin: 10px;
        font-size: 20px;
        font-style: italic;
        text-align: center;
        
    }
    .f1{margin: 50px 10% 50px 60%;}
    .f2{margin: 50px 60% 50px 10%;}
    .f3{margin: 50px 30% 50px 40%;}
    .version{
        position: fixed;
        margin: 0 2%;
        right: 0;
        bottom: 0;
        color: var(--grey);
        font-size: 22px;
        opacity: 40%;
        font-family: var(--font_title);
        text-shadow: 1px 1px var(--grey2);
    }

/* ACCOUNT */
    .account-back{
        width: 90%;
        margin: 0 5%;
    }
    .account-icon{
        margin: -28% 0 0 900px;
        width: 5%;
        position: absolute;
    }
    .account-title{
        margin: -28% auto 25%;
        font-size: 65px;
        color: var(--blueee);
        font-family: var(--font-account);
    }
    .account-infos{
        margin: -250px 50px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 100px;
        row-gap: 100px;
    }
    .account-detail{
        padding: 10px 20px;
        width: 500px;
        font-size: 25px;
        text-align: left;
        font-family: var(--font_desc1);
    }
    .account-specials{
        margin: 300px 50px;
        display: flex;
        flex-direction: column;
    }
    .account-desc{
        text-align: center;
        font-family: var(--font_text);
        font-size: 25px;
        font-weight: bold;
        font-style: oblique;
    }
/* EDITOR */
    .editor-title{
        font-family: var(--font_title);
        color: var(--ambeee);
        text-shadow: 1px 1px var(--ambeee2);
        font-size: 120px;
        text-align: center;
    }
    .editor-back{
        width: 96%;
        height: 670px;
        margin: -20% 2%;
        position: fixed;
        z-index: -1;
    }
    .editor-page{
        display: flex;
        flex-direction: column;
    }
    .editor-desc{
        font-size: 40px;
        font-family: var(--font_desc2);
        text-align: center;
        padding: 2%;
    }
    .editor-field{
        width: 50%;
        margin: 0 20% 5%;
        padding: 2% 4%;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 0px var(--back_secondary),
                -2px -2px 0px var(--back_secondary);
    }
    .editor-image{
        margin: -2% 30% 0;
        width: 20%;
        padding: 0 10%;
        font-family: var(--font_text);
    }
    .editor-err{
        font-size: 35px;
        color: var(--red);
        text-align: center;
        text-shadow: 1px 1px 0px var(--red2);
        font-family: var(--font_error);
        margin: -1% 0 0;
    }
    .editor-submit{
        width: 50%;
        margin: 5% 25%;
        padding: 1% 10%;

        background-color: var(--blueee);
        color: var(--text_secondary_color);
        font-family: var(--font_bold);
        border-radius: 25px;
        font-size: 25px;
    }



}











/* TABLET */
@media screen and (min-width: 768px) and  (max-width: 1023px){
    
    .icon{
        transform: rotate(45deg)
    }
    
}
/* MOBILE */
@media screen and (max-width: 767px) {
    
    .PC{display: none;}
    .TABLET{display: none;}
    .MOBILE{display: block;}

    /* MENU */
    .menu{
        width: 96%;
        margin: 0% 2% 5px;
        bottom: 0;
        z-index: 4;
        display: flex;
        flex-direction: row-reverse;
        position: fixed;
        border-radius: 25px;
        background-color: var(--blueee);
    }
    .menu-icon-1{
        width: 50px;
        margin: 25px;
    }
    .menu-icon-2{
        width: 40px;
        margin: 5px 15px;
    }
    .menu-container{
        width: 280px;
        margin: 35px 2px 0;
        display: flex;
        flex-direction: row;
    }
    .menu-tab{
        width: 90px;
        margin: 0;
        font-size: 23px;
        text-align: center;
        color: var(--text_secondary_color);
        font-family: 'Caveat', cursive;
        text-decoration: none;
    }
    .menu-account{
        width: 90px;
        margin: 0 0 0 1180px;
        position: absolute;
    }

    /* HOME */
    .home-back{
        width: 100%;
        margin: 0 0 0;
        z-index: 0;
    }
    .home-title-sec{
        position: absolute;
        width: 60%;
        margin: -190px 16% 0;
    }
    .home-title{
        font-size: 70px;
        color: var(--blueee);
        font-family: 'Oleo Script Swash Caps';
        text-align: center;
    }
    .home-subtitle{
        width: 100px;
        margin: -50px 0 0 170px;

        font-family: 'Covered By Your Grace';
        color: var(--red);
        text-shadow: 1px 1px 0px #8F1111;
        transform: rotate(345deg);

        animation-name: ItsBack;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @keyframes ItsBack {
        0% {font-size: 25px;}
        50% {font-size: 30px;}
        100% {font-size: 25px;}
    }
    .home-page{
        margin: -23px 5px 0;
        padding: 40px 5px 150px;
        border-radius: 50px 50px 0 0;
        background-color: var(--ambeee);
        z-index: 1;
    }
    .home-intro{
        width: 70%;
        margin: 5px auto;
        padding: 20px 10%;
        text-align: center;
        font-family: 'Indie Flower';
        border-radius: 20px;
        background-color: var(--back_primary);
    }
    .home-adv{
        display: flex;
        flex-direction: column;
        margin: 50px 0 0 0;
    }
    .home-frame{
        width: 200px;
        margin: 20px auto;
        padding: 20px;
        color: var(--text_primary_color);
        text-decoration: none;
        border-radius: 20px;
        background-color: var(--back_primary);
        box-shadow: 2px 2px 0 var(--back_secondary);
    }
    .home-frame-title{
        margin: -40px 0 0 0;
        font-size: 25px;
        text-align: center;
        font-family: "Caveat";
        font-weight: bold;
        color: var(--text_primary_color);
        text-shadow: 1px 1px 0 var(--text_secondary_color);
    }
    .home-article{
        margin: 20px 0 0 0;
        font-size: 20px;
        font-style: italic;
        text-align: center;
        
    }
    .version{
        position: fixed;
        margin: 0 5px;
        right: 0;
        top: 0;
        color: var(--grey);
        font-size: 12px;
        opacity: 40%;
        font-family: 'Covered By Your Grace';
        text-shadow: 1px 1px var(--grey2);
    }

}