{% extends "base.html" %}
{% block title %}401{% endblock %}

{% block pc_content %}<div>

<!--BACKGROUND-->
<img class="error-back"
src=" {{ url_for('static', filename='img/build/401_back.png') }} " alt="BACKGROUND">

<!--TITLE-->
<div class="error-title-sec">
    <div class="error-sub">Error 401</div>
    <div class="error-title">Cosa ci fai tu qui?!</div>
</div>
<!--PAGE-->
<div class="error-page">
    <p class="error-text">
        Mi dispiace, ma non puoi accedere a questa pagina se non
        hai effettuato il login, alla prossima! 
    </p>

    <div class="error-options">
        <a href=" {{ url_for('home') }} " class="error-sub">Torna alla Home</a>
        <p class="error-text">  oppure  </p>
        <a href=" {{ url_for('login') }} " class="error-sub">Effettua il login</a>
    </div>
</div>

</div>{% endblock %}

{% block mobile_content %}<div>

<!--BACKGROUND-->
<img class="error-back"
src=" {{ url_for('static', filename='img/build/401_back.png') }} " alt="BACKGROUND">

<!--TITLE-->
<div class="error-title-sec">
    <div class="error-sub">Error 401</div>
    <div class="error-title">Cosa ci fai tu qui?!</div>
</div>
<!--PAGE-->
<div class="error-page">
    <p class="error-text">
        Mi dispiace, ma non puoi accedere a questa pagina se non
        hai effettuato il login, alla prossima! 
    </p>

    <div class="error-options">
    <a href=" {{ url_for('home') }} " class="error-sub">Torna alla Home</a>
    oppure
    <a href=" {{ url_for('login') }} " class="error-sub">Effettua il login</a>
    </div>
</div>
    
</div>{% endblock %}