{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block content %}


<!--BACKGROUND-->
<img class="background w80 m-5"
src=" {{ url_for('static', filename='img/build/404_back.png') }} " alt="BACKGROUND">

<!--TITLE-->
<div class="title-container">
    <div class="error c-webeee">Error 404</div>
    <div class="title-error">Ops, pagina non trovata</div>
</div>
<!--PAGE-->
<div class="error-page">
    <p class="text">
        Questa pagina non esiste, se sei convinto che qui dovrebbe
        esserci qualcosa prova a scrivere di nuovo l'indirizzo,
        <br> altrimenti
    </p>

    <a href=" {{ url_for('home') }} "><p class="error c-webeee">Torna alla Home</p></a>
</div>


{% endblock %}