{% extends "base.html" %}
{% block title %}Pres{% endblock %}
{% block content %}

{% if post.cover %}
<img alt="Cover"
    src=" {{ url_for('static', filename='img/posts/' + post.cover) }} ">
{%endif%}

<h2>-{{post.title}}-</h2>

    {% if current_user.is_authenticated and current_user == post.author %}

        <a href=" {{ url_for('update_pres_article', post_id=post.id) }} ">Modifica</a>
        <form method="POST" action=" {{url_for('delete_pres_article', post_id=post.id)}} ">
            <input type="submit" value="Cancella">
        </form>

    {%endif%}


    <p>Data: {{post.created_at.strftime('%d.%m.%Y')}}</p><br>
    
    {% if post.description %}<p>Descrizione: {{post.description}}</p>{% endif %}
    
    <br><br>
    {{post.body1}}<br><br>
    {% if post.image1%}         {{post.image1}}         {%endif%}<br><br>

    {% if post.body2%}          {{post.body2}}          {%endif%}<br><br>
    {% if post.image2%}         {{post.image2}}         {%endif%}<br><br>
    {% if post.testimonial1%}   {{post.testimonial1}}   {%endif%}<br><br>

    {% if post.body3%}          {{post.body3}}          {%endif%}<br><br>
    {% if post.image3%}         {{post.image3}}         {%endif%}<br><br>
    {% if post.testimonial2%}   {{post.testimonial2}}   {%endif%}<br><br>

    {% if post.body4%}          {{post.body4}}          {%endif%}<br><br>

    
    
{% endblock %}