{% extends "base.html" %}
{% block title %} 
{% if new %} Crea Post {% else %}
{% if pres %} Pres #{{post.id}}
{% else %} Webeee #{{post.id}}
{% endif %} {% endif %} {% endblock %}


<div class="PC">{% block pc_content %}
    <!--BACKGROUND-->
    <img class="article-back"
    src=" {{ url_for('static', filename='img/build/article_back.png') }} " alt="BACKGROUND">


    {% if editor %}<form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}

        <!--FIRST-->
        <div class="article-first">
            <div> {{form.title(class="article-title toedit")}} </div>
            <div> {{form.description( class="article-desc toedit")}} </div>
        </div>

        <!--PAGE-->
        <div class="toedit-page">

            <div>{{form.body1(class="toedit-body", rows=8) }}</div>
            <div>{{form.testimonial1(class="toedit-voice", rows=8) }}</div>
            <div class="toedit-container">
                <div>{{form.body2(class="toedit-body2", rows=6) }}</div>
                <div>{{form.img1(class="toedit-img")}}</div>
            </div>

            <div>{{form.body3(class="toedit-body", rows=8) }}</div>
            <div>{{form.testimonial2(class="toedit-voice", rows=15) }}</div>
            <div class="toedit-container">
                <div>{{form.body4(class="toedit-body2", rows=6) }}</div>
                <div>{{form.img2(class="toedit-img")}}</div>
            </div>
            
            <div>{{form.body5(class="toedit-body", rows=2) }}</div>
            {{form.submit(class="toedit-button")}}

        </div>
        
    </form>

    {% elif cit %}<form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}

        <!--FIRST-->
        <div class="article-first">
            <div> {{form.title(class="article-title toedit", readonly=true)}} </div>
            <div> {{form.description( class="article-desc toedit", readonly=true)}} </div>
        </div>

        <!--PAGE-->
        <div class="toedit-page">

            <div>{{form.body1(class="toedit-body", rows=8, readonly=true) }}</div>
            <div>{{form.testimonial1(class="toedit-voice", rows=8) }}</div>
            <div class="toedit-container">
                <div>{{form.body2(class="toedit-body2", rows=6, readonly=true) }}</div>
                <div>{{form.img1(class="toedit-img")}}</div>
            </div>

            <div>{{form.body3(class="toedit-body", rows=8, readonly=true) }}</div>
            <div>{{form.testimonial2(class="toedit-voice", rows=15) }}</div>
            <div class="toedit-container">
                <div>{{form.body4(class="toedit-body2", rows=6, readonly=true) }}</div>
                <div>{{form.img2(class="toedit-img")}}</div>
            </div>
            
            <div>{{form.body5(class="toedit-body", rows=2, readonly=true) }}</div>
            {{form.submit(class="toedit-button")}}

        </div>
        
    </form>
    {% elif readonly %}

        <!--FIRST-->
        <div class="article-first">
            <div class="article-title"> {{post.title}} </div>
            {% if post.description %}<div class="article-desc"> {{post.description}} </div>{% endif %}
            <div class="article-bar">
                <div class="article-opz">
                    <div class="article-info">📝 {{post.author.username}} </div>
                    <div class="article-info">📆 {{post.created_at.strftime("%d-%m-%y")}} </div>
                </div>
                <div class="article-opz">
                    
                    {% if current_user.is_authenticated %}{% if current_user.role in ["BOSS", "editor_pres"] %}
                    <form method="POST" action=" {{ url_for('delete_pres_article', post_id=post.id) }} ">
                    <input type="submit" value="Cancella" class="article-delete">
                    </form><a href=" {{ url_for('update_pres_article', post_id=post.id) }} " class="article-edit">Modifica</a>
                    {% elif current_user.role in ["testimonial", "editor_webeee"] and pres %}
                    <a href=" {{ url_for('update_pres_article', post_id=post.id) }} " class="article-edit">Raccontaci</a>{% endif %}{% endif %}
                    {% if pres %}<a href=" {{ url_for('pres_news') }} " class="article-button">Altre News</a>
                    {% else %}<a href=" {{ url_for('webeee_news') }} " class="article-button">Altre News</a>{% endif %}
                
                </div>
            </div>
        </div>

        <!--PAGE-->
        <div class="article-page">

            <div class="article-body">{{post.body1 |markdown }}</div>
            <div class="article-voice">{{post.testimonial1 |markdown }}</div>
            <div class="article-container">
                <div class="article-body2">{{post.body2 |markdown }}</div>{% if post.image1%}
                <img class="article-img" src=" {{ url_for('static', filename='img/posts/' + post.image1) }} ">{% endif %}   
            </div>

            <div class="article-body">{{post.body3 |markdown }}</div>
            <div class="article-voice">{{post.testimonial2 |markdown }}</div>
            <div class="article-container">
                <div class="article-body2">{{post.body4 |markdown }}</div>{% if post.image2%}
                <img class="article-img" src=" {{ url_for('static', filename='img/posts/' + post.image2) }} ">{% endif %}
            </div>
            
            <div class="article-body">{{post.body5 |markdown }}</div>

        </div>
        
        {% if pres %}<!--CONSIGLIATI-->
        <div class="article-adv">
            <div class="article-adv-title">Se ti è piaciuto questo articolo, leggi anche:</div>
            <div class="article-adv-desc">
                <a href="{{ url_for('pres_article', post_slug=adv.slug) }}">{{adv.title}}</a>
            </div>
        </div>{% endif %}
    {% endif %}



    <!--MARK-->
    <div class="article-mark">Webeee</div>
{% endblock %}</div>






<div class="MOBILE">{% block mobile_content %}
    <!--BACKGROUND-->
    <img class="article-back"
    src=" {{ url_for('static', filename='img/build/article_back.png') }} " alt="BACKGROUND">


    {% if editor %}<form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}

        <!--FIRST-->
        <div class="article-first">
            <div> {{form.title(class="article-title toedit")}} </div>
            <div> {{form.description( class="article-desc toedit")}} </div>
        </div>

        <!--PAGE-->
        <div class="toedit-page">

            <div>{{form.body1(class="toedit-body", rows=8) }}</div>
            <div>{{form.testimonial1(class="toedit-voice", rows=8) }}</div>
            <div class="toedit-container">
                <div>{{form.body2(class="toedit-body2", rows=6) }}</div>
                <div>{{form.img1(class="toedit-img")}}</div>
            </div>

            <div>{{form.body3(class="toedit-body", rows=8) }}</div>
            <div>{{form.testimonial2(class="toedit-voice", rows=15) }}</div>
            <div class="toedit-container">
                <div>{{form.body4(class="toedit-body2", rows=6) }}</div>
                <div>{{form.img2(class="toedit-img")}}</div>
            </div>
            
            <div>{{form.body5(class="toedit-body", rows=2) }}</div>
            {{form.submit(class="toedit-button")}}

        </div>
        
    </form>

    {% elif cit %}<form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}

        <!--FIRST-->
        <div class="article-first">
            <div> {{form.title(class="article-title toedit", readonly=true)}} </div>
            <div> {{form.description( class="article-desc toedit", readonly=true)}} </div>
        </div>

        <!--PAGE-->
        <div class="toedit-page">

            <div>{{form.body1(class="toedit-body", rows=8, readonly=true) }}</div>
            <div>{{form.testimonial1(class="toedit-voice", rows=8) }}</div>
            <div class="toedit-container">
                <div>{{form.body2(class="toedit-body2", rows=6, readonly=true) }}</div>
                <div>{{form.img1(class="toedit-img")}}</div>
            </div>

            <div>{{form.body3(class="toedit-body", rows=8, readonly=true) }}</div>
            <div>{{form.testimonial2(class="toedit-voice", rows=15) }}</div>
            <div class="toedit-container">
                <div>{{form.body4(class="toedit-body2", rows=6, readonly=true) }}</div>
                <div>{{form.img2(class="toedit-img")}}</div>
            </div>
            
            <div>{{form.body5(class="toedit-body", rows=2, readonly=true) }}</div>
            {{form.submit(class="toedit-button")}}

        </div>
        
    </form>
    {% elif readonly %}

        <!--FIRST-->
        <div class="article-first">
            <div class="article-title"> {{post.title}} </div>
            {% if post.description %}<div class="article-desc"> {{post.description}} </div>{% endif %}
            <div class="article-bar">
                <div class="article-opz">
                    <div class="article-info">📝 {{post.author.username}} </div>
                    <div class="article-info">📆 {{post.created_at.strftime("%d-%m-%y")}} </div>
                </div>
                <div class="article-opz">
                    
                    {% if current_user.is_authenticated %}{% if current_user.role in ["BOSS", "editor_pres"] %}
                    <form method="POST" action=" {{ url_for('delete_pres_article', post_id=post.id) }} ">
                    <input type="submit" value="Cancella" class="article-delete">
                    </form><a href=" {{ url_for('update_pres_article', post_id=post.id) }} " class="article-edit">Modifica</a>

                    {% elif current_user.role in ["testimonial", "editor_webeee"] and pres %}
                    <a href=" {{ url_for('update_pres_article', post_id=post.id) }} " class="article-edit">Raccontaci</a>{% endif %}{% endif %}
                    {% if pres %}<a href=" {{ url_for('pres_news') }} " class="article-button">Altre News</a>
                    {% else %}<a href=" {{ url_for('webeee_news') }} " class="article-button">Altre News</a>{% endif %}
                
                </div>
            </div>
        </div>

        <!--PAGE-->
        <div class="article-page">

            <div class="article-body">{{post.body1 |markdown }}</div>
            <div class="article-voice">{{post.testimonial1 |markdown }}</div>
            <div class="article-container">
                <div class="article-body2">{{post.body2 |markdown }}</div>{% if post.image1%}
                <img class="article-img" src=" {{ url_for('static', filename='img/posts/' + post.image1) }} ">{% endif %}   
            </div>

            <div class="article-body">{{post.body3 |markdown }}</div>
            <div class="article-voice">{{post.testimonial2 |markdown }}</div>
            <div class="article-container">
                <div class="article-body2">{{post.body4 |markdown }}</div>{% if post.image2%}
                <img class="article-img" src=" {{ url_for('static', filename='img/posts/' + post.image2) }} ">{% endif %}
            </div>
            
            <div class="article-body">{{post.body5 |markdown }}</div>

        </div>

        {% if pres %}<!--CONSIGLIATI-->
        <div class="article-adv">
            <div class="article-adv-title">Se ti è piaciuto questo articolo, leggi anche:</div>
            <div class="article-adv-desc">
                <a href="{{ url_for('pres_article', post_slug=adv.slug) }}">{{adv.title}}</a>
            </div>
        </div>{% endif %}
    {% endif %}



    <!--MARK-->
    <div class="article-mark">Webeee</div>
{% endblock %}</div>

