{% extends "base.html" %}
{% block title %} {% if pres %}
Pres #{{post.id}} {% else %} Webeee #{{post.id}} {% endif %}
{% endblock %}


<div class="PC">{% block pc_content %}
    <!--BACKGROUND-->
    <img class="article-back"
    src=" {{ url_for('static', filename='img/build/article_back.png') }} " alt="BACKGROUND">


    <!--EDITOR--> 
    {% if editor %}<div>
        <form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}
            
        
            <div class="">{{form.title(class="article-title toedit")}}
                <div class="account-err">
                    {% if form.title.errors %}{% for e in form.title.errors %}
                    {{e}}{% endfor %}{% endif %}
                </div>
            </div>
            <div class="">{{form.description(class="article-desc toedit")}}
                <div class="account-err">
                    {% if form.description.errors %}{% for e in form.description.errors %}
                    {{e}}{% endfor %}{% endif %}
                </div>
            </div>

            <!--Body1-->
            <div class="">
                {{form.body1(class="toedit-body toedit")}}
                <div class="account-err">
                    {% if form.body1.errors %}{% for e in form.body1.errors %}
                    {{e}}{% endfor %}{% endif %}
                </div>
            </div>

            <!--Voce 1-->
            <div class="">
                {{form.testimonial1(class="toedit-voice toedit")}}
            </div>

            <!--Body2 + Img1-->
            <div class="toedit-container">
                <!--Body2-->
                <div class="">
                    {{form.body2(class="toedit-body2 toedit")}}
                </div>
                
                <!--img1-->
                <div class="">
                {{form.img1(class="toedit-img toedit")}}
                </div>

            </div>
            <!--Body3-->
            <div class="">
                {{form.body3(class="toedit-body toedit")}}
            </div>
            <!--Voce 2-->
            <div class="">
                {{form.testimonial2(class="toedit-voice toedit")}}
            </div>

            <!--Body4 + Img2-->
            <div class="toedit-container">

                <!--Body4-->
                <div class="">
                    {{form.body4(class="toedit-body2 toedit")}}
                </div>
                
                <!--img2-->
                <div class="">
                {{form.img2(class="toedit-img toedit")}}
                </div>

            </div>
            <!--Body5-->
            <div class="">
                {{form.body5(class="toedit-body toedit")}}
            </div>

            
            {{form.submit(class="article-button3")}}
        </form>
    </div>


    <!--PAGE-->
    {% else %}<div>
        <!--TITLE & DESC-->
        <p class="article-title">{{post.title}}</p>
        {% if post.description %}<p class="article-desc">{{post.description}}</p>{% endif %}

        <!--DATE & OPTIONS-->
        <div class="article-bar">
            <div class="article-info"> 
                {% if post.created_at %}📆{{post.created_at.strftime('%d/%m/%Y')}}{% endif %}
            </div>
            <div class="article-info"> 
                {% if post.author %}📝{{post.author.username}}{% endif %}
            </div>

            
            {% if pres %}
            <div class="article-opz">
                <a class="article-button"
                    href=" {{ url_for('pres_news') }} ">Altre News
                </a>
                {% if current_user.is_authenticated%}
                    {% if current_user.role == "BOSS" or current_user.role == "pres_editor" %}
                    <a class="article-button1"
                        href=" {{ url_for('update_pres_article', post_id=post.id) }} ">Modifica
                    </a>
                    <form method="POST" action=" {{url_for('delete_pres_article', post_id=post.id)}} ">
                        <input type="submit" value="Cancella" class="article-button2">
                    </form><!--{%else%}DATE & OPTIONS
                    <a class="article-button1"
                        href=" {{ url_for('update_pres_article', post_id=post.id) }} ">Testimonianza
                    </a>-->{%endif%}
                {%endif%}
            </div>{% else %}

            <div class="article-opz">
                <a class="article-button"
                    href=" {{ url_for('webeee_news') }} ">Altre News
                </a>
                {% if current_user.role == "BOSS" or current_user.role == "pres_editor" %}
                <a class="article-button1"
                    href=" {{ url_for('update_article', post_id=post.id) }} ">Modifica
                </a>
                <form method="POST" action=" {{url_for('delete_article', post_id=post.id)}} ">
                    <input type="submit" value="Cancella" class="article-button2">
                </form>
                {%endif%}
            </div>{% endif %}

        </div>

        <!--ARTICLE-->
        <div class="article-page">

            <!--Body1-->
            <div class="article-body">
                {{post.body1 |markdown}}
            </div>

            <!--Voce 1-->
            <div>{% if cit %}
            <form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}
                {{form.testimonial1(class="toedit-voice toedit")}}
            </form>{% else %}</div>
            <div class="article-voice">
                {% if post.testimonial1%} {{post.testimonial1 |markdown}} {%endif%}
            </div>{% endif %}

            <!--Body2 + Img1-->
            <div class="article-container">

                <!--Body2-->
                <div class="article-body2">
                    {% if post.body2%} {{post.body2 |markdown}} {%endif%}
                </div>
                
                <!--img1-->
                {% if post.image1%}<img class="article-img" alt="IMMAGINE1"
                src=" {{ url_for('static', filename='img/posts/' + post.image1) }} ">
                {%endif%}

            </div>

            <!--Body3-->
            <div class="article-body">
                {% if post.body3%} {{post.body3 |markdown}} {%endif%}
            </div>

            <!--Voce 2-->
            <div>{% if cit %}
            <form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}
                {{form.testimonial2(class="toedit-voice toedit")}}
                
            </form>{% else %}</div>
            <div class="article-voice">
                {% if post.testimonial2%} {{post.testimonial2 |markdown}} {%endif%}
            </div>{% endif %}
                
            <!--Body4 + Img2-->
            <div class="article-container">

                <!--Body4-->
                <div class="article-body2">
                    {% if post.body4%} {{post.body4 |markdown}} {%endif%}
                </div>
                
                <!--img2-->
                {% if post.image2%}<img class="article-img" alt="IMMAGINE2"
                src=" {{ url_for('static', filename='img/posts/' + post.image2) }} ">
                {%endif%}
            
            </div>

            <!--Body5-->
            <div class="article-body">
                {% if post.body5%} {{post.body5 |markdown}} {%endif%}
            </div>

            {% if cit %}
            <form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}
                {{form.submit(class="article-button3")}}
            </form>{% endif %}

        </div>

        <!--CONSIGLIATI-->{% if pres %}
        <div class="article-adv">
            <div class="article-adv-title">Se ti è piaciuto questo articolo, leggi anche:</div>
            <div class="article-adv-desc">
                <a href="{{ url_for('pres_article', post_slug=adv.slug) }}">{{adv.title}}</a>
            </div>
        </div>{% endif %}
    </div>{% endif %}


    <!--MARK-->
    <div class="article-mark">Webeee</div>
{% endblock %}</div>


<div class="MOBILE">{% block mobile_content %}
    <!--BACKGROUND-->
    <img class="article-back"
    src=" {{ url_for('static', filename='img/build/article_back.png') }} " alt="BACKGROUND">


    <!--EDITOR--> 
    {% if editor %}<div>

        <form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}
            
        
            
            <div class="">
                {{form.title(class="article-title toedit")}}
                <div class="account-err">
                    {% if form.title.errors %}{% for e in form.title.errors %}
                    {{e}}{% endfor %}{% endif %}
                </div>
            </div>
            <div class=""><div class="toedit-label">{{ form.description.label }}</div>
                {{form.description(class="toedit-desc toedit")}}
                <div class="account-err">
                    {% if form.description.errors %}{% for e in form.description.errors %}
                    {{e}}{% endfor %}{% endif %}
                </div>
            </div>
            <!--Body1-->
            <div class=""><div class="toedit-label">{{ form.body1.label }}</div>
                {{form.body1(class="toedit-body toedit")}}
                <div class="account-err">
                    {% if form.body1.errors %}{% for e in form.body1.errors %}
                    {{e}}{% endfor %}{% endif %}
                </div>
            </div>

            <!--Voce 1-->
            <div class=""><div class="toedit-label">{{ form.testimonial1.label }}</div>
                {{form.testimonial1(class="toedit-voice toedit")}}
            </div>

            <!--Body2 + Img1-->
                
                <!--Body2-->
                <div class=""><div class="toedit-label">{{ form.body2.label }}</div>
                    {{form.body2(class="toedit-body2 toedit")}}
                </div>
                
                <!--img1-->
                <div class="">
                {{form.img1(class="toedit-img toedit")}}
                </div>

            <!--Body3-->
            <div class=""><div class="toedit-label">{{ form.body3.label }}</div>
                {{form.body3(class="toedit-body toedit")}}
            </div>

            <!--Voce 2-->
            <div class=""><div class="toedit-label">{{ form.testimonial2.label }}</div>
                {{form.testimonial2(class="toedit-voice toedit")}}
            </div>

            <!--Body4 + Img2-->

                <!--Body4-->
                <div class=""><div class="toedit-label">{{ form.body4.label }}</div>
                    {{form.body4(class="toedit-body2 toedit")}}
                </div>
                
                <!--img2-->
                <div class="">
                    {{form.img2(class="toedit-img toedit")}}
                </div>


            <!--Body5-->
            <div class=""><div class="toedit-label">{{ form.body5.label }}</div>
                {{form.body5(class="toedit-body toedit")}}
            </div>

            
            {{form.submit(class="article-button3")}}
        </form>
        
    </div>

    <!--PAGE-->
    {% else %}<div>
        <!--TITLE & DESC-->
        <p class="article-title">{{post.title}}</p>
        {% if post.description %}<p class="article-desc">{{post.description}}</p>{% endif %}

        <!--DATE & OPTIONS-->
        <div class="article-bar">

            <div class="article-info"> 
                {% if post.created_at %}📆{{post.created_at.strftime('%d/%m/%Y')}}{% endif %}
                {% if post.author %} - 📝{{post.author.username}}{% endif %}
            </div>
            
            {% if pres %}
            <div class="article-opz">
                <a class="article-button"href=" {{ url_for('pres_news') }} ">Altre News</a>
                {% if current_user.is_authenticated%}
                {% if current_user.role == "BOSS" or current_user.role == "pres_editor" %}
                    <a class="article-button1"
                        href=" {{ url_for('update_pres_article', post_id=post.id) }} ">Modifica
                    </a>
                    <form method="POST" action=" {{url_for('delete_pres_article', post_id=post.id)}} ">
                        <input type="submit" value="Cancella" class="article-button2">
                    </form><!--{%else%}
                    <a class="article-button1"
                        href=" {{ url_for('update_pres_article', post_id=post.id) }} ">Testimonianza
                    </a>-->{%endif%}
                {%endif%}
            </div>{% else %}

            <div class="article-opz">
                <a class="article-button" href=" {{ url_for('webeee_news') }} ">Altre News </a>
                {% if current_user.role == "BOSS" or current_user.role == "pres_editor" %}
                <a class="article-button1"
                    href=" {{ url_for('update_article', post_id=post.id) }} ">Modifica
                </a>
                <form method="POST" action=" {{url_for('delete_article', post_id=post.id)}} ">
                    <input type="submit" value="Cancella" class="article-button2">
                </form>
                {%endif%}
            </div>{% endif %}

        </div>

        <!--BODY-->
        <div class="article-page">


            <!--Body1-->
            <div class="article-body">
                {{post.body1 |markdown}}
            </div>

            <!--Voce 1-->
            {% if cit %}<div>
                <form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}
                    {{form.testimonial1(class="toedit-voice toedit")}}
                    {{form.submit(class="article-button3")}}
                </form>
            </div>{% else %}
            <div class="article-voice">
                {% if post.testimonial1%} {{post.testimonial1 |markdown}} {%endif%}
            </div>{% endif %}

            <!--Body2 + Img1-->
            <div class="article-container">

                <!--Body2-->
                <div class="article-body2">
                    {% if post.body2%} {{post.body2 |markdown}} {%endif%}
                </div>
                
                <!--img1-->
                {% if post.image1%}<img class="article-img" alt="IMMAGINE1"
                src=" {{ url_for('static', filename='img/posts/' + post.image1) }} ">
                {%endif%}

            </div>

            <!--Body3-->
            <div class="article-body">
                {% if post.body3%} {{post.body3 |markdown}} {%endif%}
            </div>

            <!--Voce 2-->
            {% if cit %}<div>
                <form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}
                    {{form.testimonial2(class="toedit-voice toedit")}}
                    {{form.submit(class="article-button3")}}
                </form>
            </div>{% else %}
            <div class="article-voice">
                {% if post.testimonial2%} {{post.testimonial2 |markdown}} {%endif%}
            </div>{% endif %}
                
            <!--Body4 + Img2-->
            <div class="article-container">

                <!--Body4-->
                <div class="article-body2">
                    {% if post.body4%} {{post.body4 |markdown}} {%endif%}
                </div>
                
                <!--img2-->
                {% if post.image2%}<img class="article-img" alt="IMMAGINE2"
                src=" {{ url_for('static', filename='img/posts/' + post.image2) }} ">
                {%endif%}
            
            </div>

            <!--Body5-->
            <div class="article-body">
                {% if post.body5%} {{post.body5 |markdown}} {%endif%}
            </div>

        </div>

        <!--CONSIGLIATI-->{% if pres %}
        <div class="article-adv">
            <div class="article-adv-title">Se ti è piaciuto questo articolo, leggi anche:</div>
            <div class="article-adv-desc">
                <a href="{{ url_for('pres_article', post_slug=adv.slug) }}">{{adv.title}}</a>
            </div>
        </div>{% endif %}
    </div>{% endif %}

    <!--MARK-->
    <div class="article-mark">Webeee</div>
{% endblock %}</div>