<!DOCTYPE html>
<html lang="it">
<head>
    <title>{% block title %}{% endblock %} - Webeee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="menu container table-xr">

        <a class="container table-y" href="
        {% if not current_user.is_authenticated %} {{ url_for('login') }}{% endif %}">
            <img class = "icon-main" alt="icon" title="Pagliaccio, perché non metti la foto?"
                src="{{ url_for('static', filename='img/build/user_not_loaded.png') }}">
        
        </a>

        <div id="Tabs" class="container table-x">
            <a class="tab" href=" {{ url_for('home') }} ">Home</a>
            <a class="tab" href=" {{ url_for('pres_news') }} ">Pres</a>
            <a class="tab" href="#">Altre News</a>
        </div>
    </div>
    <div class="account-menu">
        <a href="{{ url_for('user_info', username = current_user.username) }}">
            <img class="icon-sec" alt="settings icon" title="Account settings"
                src="{{ url_for('static', filename='img/build/user_options.png') }}">
        </a>

        <a href="{{ url_for('logout') }}">
            <img class="icon-sec" alt="logout icon" title="Effettua il logout"
            src="{{ url_for('static', filename='img/build/user_logout.png') }}">
        </a>
    </div>
    

    {% block content %}
    {% endblock %}
</body>
</html>