<!DOCTYPE html>
<html lang="it">
<head>
    <title>{% block title %}{% endblock %} - Webeee</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/build/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Covered+By+Your+Grace&family=Indie+Flower&family=Oleo+Script+Swash+Caps:wght@700&display=swap" rel="stylesheet">

</head>
<body>
<div class="MOBILE">{% block mobile_content %}{% endblock %}</div>


<div class="menu">

    <a href="{% if not current_user.is_authenticated %} {{ url_for('login') }}{% endif %}">
    <img class = "menu-icon-1" alt="icon"
        {% if current_user.is_authenticated %}
            {% if not current_user.image %}
            title="Pagliaccio, perché non metti la foto?"
            src="{{ url_for('static', filename='img/build/user_not_loaded.png') }}"
            {% else %} src="{{current_user.image}}"{% endif %}
        {% else %} src="{{ url_for('static', filename='img/build/logo.png') }}"{% endif %}>
    </a>

    <div class="menu-container">
        <a class="menu-tab" href=" {{ url_for('home') }} ">Home</a>
        <a class="menu-tab" href=" {{ url_for('pres_news') }} ">Pres</a>
        <a class="menu-tab" href="#">Altre News</a>
    </div>

</div>

{% if current_user.is_authenticated %}
<div class="menu-account">
    <a href="{{ url_for('user_info', username = current_user.username) }}">
        <img class="menu-icon-2" alt="settings icon" title="Account settings"
            src="{{ url_for('static', filename='img/build/user_options.png') }}">
    </a>

    <a href="{{ url_for('logout') }}">
        <img class="menu-icon-2" alt="logout icon" title="Effettua il logout"
        src="{{ url_for('static', filename='img/build/user_logout.png') }}">
    </a>
</div>{%endif%}
    
<div class="PC">{% block pc_content %}{% endblock %}</div>
</body>
</html>