<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>WEBEEEE</h1>
    <h2>-Home-</h2>
    <br>
    <h4>EHY, QUESTO SITO E' IN MUTANDE!</h4>
    <h5>Il nuovo progetto è ancora in fase di lavorazione, ma il team di webeee promette
        di essere costante nello sviluppo e nel miglioramento di questo fantasico blog.</h5>
    <h6>Nel frattempo, cerca di indovinare la password per diventare un vero <i>hackerino</i> :)</h6>
</body>
</html>