{% extends "base.html" %}
{% block title %}Home{% endblock %}
    
<div class="PC">{% block pc_content %}
    <div class="version">{{version}}</div>

    <!--BACKGROUND-->
    <img class="home-back"
        src=" {{ url_for('static', filename='img/build/home_back.png') }} " alt="BACKGROUND">

    <!--TITLE-->
    <div class="home-title-sec">
        <div class="home-title">Webeee</div>
        <div class="home-subtitle">It's back!</div>
    </div>

    <div class="home-page">
        
        <div class="home-intro">
            <p>Benvenuto in questo fantastico sito! <br>
                Tieniti aggiornato e fatti una risata con i nostri articoli mentre navighi tra le pagine e
                torna spesso a trovarci per scoprire le novità in arrivo. Buon divertimento!
            </p> 
        </div>
        
        <div class="home-adv">

            <a class="home-frame f1"
            href="{{ url_for('pres_article', post_slug=last.slug) }}">

                <p class="home-frame-title">La sai l'ultima?</p>
                <div class="home-article">{{last.title}}</div>
            </a>

            <a class="home-frame f2"
            href="{{ url_for('pres_article', post_slug=random.slug) }}">
            
                <p class="home-frame-title">Che Soggetto!</p>
                <div class="home-article">{{random.title}}</div>
            </a>

            <a class="home-frame f3"
            href="{{ url_for('webeee_article', post_slug=last_w.slug) }}">
                <p class="home-frame-title">Casa Webeee</p>
                <div class="home-article"">{{last_w.title}} </div> 
                
            </a>

        </div> 

    
    </div>
{% endblock %}</div>

<div class="MOBILE">{% block mobile_content %}
    <div class="version">{{version}}</div>

    <!--BACKGROUND-->
    <img class="home-back"
        src=" {{ url_for('static', filename='img/build/home_back_mobile.png') }} " alt="BACKGROUND">

    <!--TITLE-->
    <div class="home-title-sec">
        <div class="home-title">Webeee</div>
        <div class="home-subtitle">It's back!</div>
    </div>

    <div class="home-page">
        
        <div class="home-intro">
            <p>Benvenuto in questo fantastico sito! <br>
                Tieniti aggiornato e fatti una risata con i nostri articoli mentre navighi tra le pagine e
                torna spesso a trovarci per scoprire le novità in arrivo. Buon divertimento!
            </p> 
        </div>
        


        <div class="home-adv">

            <a class="home-frame f1"
            href="{{ url_for('pres_article', post_slug=last.slug) }}">

                <p class="home-frame-title">La sai l'ultima?</p>
                <div class="home-article">{{last.title}}</div>
            </a>

            <a class="home-frame f2"
            href="{{ url_for('pres_article', post_slug=random.slug) }}">
            
                <p class="home-frame-title">Che Soggetto!</p>
                <div class="home-article">{{random.title}}</div>
            </a>

            <a class="home-frame f3"
            href="{{ url_for('webeee_article', post_slug=last_w.slug) }}">
                <p class="home-frame-title">Casa Webeee</p>
                <div class="home-article"">{{last_w.title}} </div> 
                
            </a>

        </div> 

    </div>
{% endblock %}</div>


