{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<h2>-Login-</h2>

    <form method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p> {{form.username.label}} </p>
        <p> {{form.username(class="")}} </p>
            {% if form.username.errors %}{% for e in form.username.errors %}
            <p> {{e}} </p>
            {% endfor %}{% endif %}

        <p> {{form.password.label}} </p>
        <p> {{form.password(class="")}} </p>
            {% if form.password.errors %}{% for e in form.password.errors %}
            <p> {{e}} </p>
            {% endfor %}{% endif %}

            
        <p> {{form.remember_me()}} {{form.remember_me.label}} </p>

        {{form.submit(class="")}}
    </form>

    <br><br>

    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} 
    
    <p> {{message}} </p>

    {% endfor %} {% endif %} {% endwith %}
    


{% endblock %}