{% extends "base.html" %}
{% block title %}Post Editor{% endblock %}
{% block content %}

<h2>
{% if request.path == "/create-article" %} -Nuovo Post-
{%else%} -Aggiorna Post- {%endif%}
</h2>


{% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} 
    
    <p> {{message}} </p>

{% endfor %} {% endif %} {% endwith %}



<form method="POST" enctype="multipart/form-data" novalidate>
    {{form.hidden_tag()}}
        <br><br>
        {{form.title.label}}<br>
        {{form.title(class="")}}<br>
            {% if form.title.errors %}{% for e in form.title.errors %}
            <p> {{e}} </p>
            {% endfor %}{% endif %}
        <br><br>
        {{form.description.label}}<br>
        {{form.description(class="")}}<br>
            {% if form.description.errors %}{% for e in form.description.errors %}
            <p> {{e}} </p>
            {% endfor %}{% endif %}
        <br><br>
        {{form.body.label}}<br>
        {{form.body(class="", rows=15)}}<br>
            {% if form.body.errors %}{% for e in form.body.errors %}
            <p> {{e}} </p>
            {% endfor %}{% endif %}

        <br><br>
        {{form.cover.label}}<br>
        {{form.cover(class="", rows=15)}}<br>
            {% if form.cover.errors %}{% for e in form.cover.errors %}
            <p> {{e}} </p>
            {% endfor %}{% endif %}

        <br><br>
        {{form.submit(class="")}}
</form>

{% endblock %}