{% extends "base.html" %}
{% block title %}Pres{% endblock %}
{% block content %}

<h2>-Pres-</h2>

{% if current_user.is_authenticated %}
    {% if current_user.role in ["BOSS","pres_editor"] %}
    <a href="{{ url_for('create_pres_article') }}"><b>NUOVO ARTICOLO</b></a>
    {% endif %}
{% endif %}

    {% for post in posts.items %}

        <h4><a href="{{ url_for('pres_article', post_slug=post.slug) }}">Titolo: {{post.title}}</a></h4>
        <p>Data: {{post.created_at.strftime('%d.%m.%Y')}}</p>

        {% if post.description %}<p>Descrizione: {{post.description}}</p>{% endif %}
        
        
    {% endfor %}


    <div>
        {% if previous_page %}<a href=" {{previous_page}} ">Prima</a>{% endif %}
        {% if next_page %}<a href=" {{next_page}} ">Dopo</a>{% endif %}
    </div>


{% endblock %}