{% extends "base.html" %}
{% block title %}
    {% if request.path == "/users/create" %} Nuovo Utente {% endif %} {{user.username}}
{% endblock %}


<div class="PC">{% block pc_content %}

    <!--BACKGROUND-->
    <img class="account-back"
    src=" {{ url_for('static', filename='img/build/account_back.png') }} " alt="BACKGROUND">


    <!--TITLE-->
    <div class="account-title-sec">
        <p class="account-title">{% if request.path == "/users/create" %}
            Nuovo Utente {% else %} Account di {{user.username}} {% endif %}
        </p>
        {% if request.path != "/users/create" %}<a class="account-icon"
        href=" {{ url_for('update_user', username=user.username) }} ">
            <img alt="Modifica user" 
            src="{{ url_for('static', filename='img/build/account-icon1.png') }}">
        </a>{% endif %}

        {% if user.icon %}<img class="account-img" alt="User icon"
        src=" {{ url_for('static', filename='img/posts/' + user.icon) }}">{% endif %}
    </div>

    <!--EDITOR-->
    {% if modify %}<div>
        <form method="POST" enctype="multipart/form-data" novalidate>{{form.hidden_tag()}}
            <div class="account-infos">
                <div class="account-detail">Username: {{form.username(class="account-field")}}
                    <div class="account-err">
                        {% if form.username.errors %}{% for e in form.username.errors %}
                        {{e}}{% endfor %}{% endif %}
                    </div>
                </div>
                <div class="account-detail">Password: {{form.password(class="account-field")}}
                    <div class="account-err">
                        {% if form.password.errors %}{% for e in form.password.errors %}
                        {{e}}{% endfor %}{% endif %}
                    </div>
                </div>
                <div class="account-detail">Email: {{form.email(class="account-field")}}
                    <div class="account-err">
                        {% if form.email.errors %}{% for e in form.email.errors %}
                        {{e}}{% endfor %}{% endif %}
                    </div>
                </div>
                <div class="account-detail">Ruolo: {{form.role(class="account-field")}}</div>
            </div>
            <div class="account-others">
                {% if request.path != "/users/create" %}<div class="account-detail">
                    Immagine del profilo: {{form.icon(class="account-field")}}
                    
                    <div class="editor-err">
                        {% if form.icon.errors %}{% for e in form.icon.errors %}
                        {{e}}{% endfor %}{% endif %}
                    
                    </div>
                    
                </div>{% endif %}
            </div>
            {{form.submit(class="account-submit")}}
        </form>
        
        <!--ERRORI-->
        <div class="account-detail">
            {% with messages = get_flashed_messages() %}
            {% if messages %}{% for message in messages %}{{message}}{% endfor %}{% endif %}
            {% endwith %}
        </div>
    </div>{% else %}

    <!--PAGE-->
    <div>
    <!--INFOS-->
    <div class="account-infos">
        <div class="account-detail">Username: {{user.username}}</div>
        <div class="account-detail">
            <inline-block id="EYE" class="" onclick="reveal_pw()">👁</inline-block>
            Password: <inline-block id="PW" class="dNone">Non disponibile</inline-block>
        </div>
        <div class="account-detail">{{user.email}}</div>
        <div class="account-detail">Ruolo: {{user.role}}</div>
    </div>
    <div class="account-others">
        <div class="account-detail">
            Immagine del profilo: {% if user.icon %} {{user.icon}} {% else %} Nessuna🤡 {% endif %}
        </div>
        <div class="account-detail">Tema scuro: Non ancora disponibile :(</div>
    </div>{% endif %}
    
    <!--DESC-->
    <div>{% if user.role == "BOSS" %}
        <p class="account-desc">
            Salve, signore! Ecco il vero PADRONE, il proprietario di tutta la baracca. Potere illimitato!
        </p>
        {% elif user.role == "webeee_editor" %}
        <p class="account-desc">
            Salve soldato! Non sarai un BOSS ma hai comunque una certa padronanza. <br>
            In quanto reporter delle nostre
            <a class="link" href=" {{url_for('webeee_news')}} ">News,</a>
            non vediamo l'ora di rimanere sorpresi dai tuoi articoli. Buon lavoro!
        </p>
        {% elif user.role == "pres_editor" %}
        <p class="account-desc">
            Salve soldato! Ti affidiamo un incarico moolto speciale. <br>
            Sarai in prima linea a raccontare le avventure
            del grande <a class="link" href=" {{url_for('pres')}} ">Ridolfi,</a><br>
            sappiamo che non ci deluderai!
        </p>
        {% elif user.role == "testimonial" %}
        <p class="account-desc">
            cccc
        </p>
    {% endif %}</div>
    
    <!--BUTTONS-->
    {% if request.path != "/users/create" %}<div class="account-panel">
        <a href="{{ url_for('create_pres_article') }} " class="account-button">Articolo Pres</a>
        <a class="account-button">Cit Pres</a>
        <a class="account-button">Gallery</a>
        <a href="{{ url_for('create_article') }} " class="account-button">Articolo Webeee</a>
        <a class="account-button">Gestisci Account</a>
        <a href="{{ url_for('create_user') }}" class="account-button">Nuovo Account</a>
    </div>{% endif %}
    </div>

{% endblock %}</div>



<div class="MOBILE">{% block mobile_content %}
 
    {% if modify %}<div class="editor">
    <!--BACKGROUND-->
    <img class="account-back"
    src=" {{ url_for('static', filename='img/build/401_back.png') }} " alt="BACKGROUND">


    <!--TITLE-->
    <div class="account-title-sec">
        <p class="account-title">Ops... Meglio di no!</p>
    </div>

    <div class="account-desc">Se vuoi creare un nuovo utente
        o modificarne uno già esistente, passa su pc!</div>

    </div>{% else %}



<!--BACKGROUND-->
<img class="account-back"
src=" {{ url_for('static', filename='img/build/account_back_mobile.png') }} " alt="BACKGROUND">




<!--TITLE-->
<div class="account-title-sec">
    <p class="account-title">Account di {{user.username}}</p>
</div>



<!--INFOS-->
<div class="account-infos">
    <div class="account-detail">Username: {{user.username}}</div>
    <div class="account-detail">
        <inline-block id="EYE" class="" onclick="reveal_pw()">👁</inline-block>
        Password: <inline-block id="PW" class="dNone">{{user.password}}</inline-block>
    </div>
    <div class="account-detail">Email: {{user.email}}</div>
    <div class="account-detail">Ruolo: {{user.role}}</div>
</div>
<div class="account-others">
    <div class="account-detail">
        <b>Immagine del profilo:</b>  {% if user.icon %} {{user.icon}} {% else %} Nessuna🤡 {% endif %}
    </div>
    <div class="account-detail"><b>Tema scuro:</b> Non ancora disponibile :(</div>
</div>



{% if user.icon %}<img class="account-img" alt="User icon"
src=" {{ url_for('static', filename='img/posts/' + user.icon) }}">{% endif %}



<!--DESC-->
<div>{% if user.role == "BOSS" %}
    <p class="account-desc">
        Salve, signore! Ecco il vero PADRONE, il proprietario di tutta la baracca.
        Potere illimitato!
    </p>
    {% elif user.role == "webeee_editor" %}
    <p class="account-desc">
        Salve soldato! Non sarai un BOSS ma hai comunque una certa padronanza. <br>
        In quanto reporter delle nostre
        <a class="link" href=" {{url_for('webeee_news')}} ">News,</a>
        non vediamo l'ora di rimanere sorpresi dai tuoi articoli. Buon lavoro!
    </p>
    {% elif user.role == "pres_editor" %}
    <p class="account-desc">
        Salve soldato! Ti affidiamo un incarico moolto speciale. <br>
        Sarai in prima linea a raccontare le avventure
        del grande <a class="link" href=" {{url_for('pres')}} ">Ridolfi,</a> nr     
        sappiamo che non ci deluderai!
    </p>
    {% elif user.role == "testimonial" %}
    <p class="account-desc">
        cccc
    </p>
{% endif %}</div>



<!--BUTTONS-->
{% if user.role == "BOSS" or user.role == "pres_editor" %}<div class="account-panel">
    <a href="{{ url_for('create_pres_article') }} " class="account-button">Articolo Pres</a>
    <a class="account-button">Cit Pres</a>
    <a class="account-button">Gallery</a>
    {% if user.role == "BOSS" %} 
    <a href="{{ url_for('create_article') }} " class="account-button">Articolo Webeee</a>
    <a class="account-button">Gestisci Account</a>
    <a href="{{ url_for('create_user') }}" class="account-button">Nuovo Account</a>
</div>{% endif %}{% endif %}



{% endif %}
{% endblock %}</div>